body {
    text-align: justify;    
}

h1 {
    line-height: 110%;
}

.hlist {
    border: 1px solid var(--border);
    padding:5px;
    background-color: var(--bg-hlist);
}

.hlist li {
    display: inline;
    display: inline-table;
    list-style-type: none;
    padding-right: 20px;
    
}

.entity {
    border: 1px solid var(--border);
    margin:5px 0px 5px 0px;
    padding: 5px;    
}

.type-c {
    cursor:help;
    color:orange;
}

.type-op {
    cursor:help;
    color:var(--type-op);
}

.type-dp {
    cursor:help;
    color:var(--type-dp);    
}

.type-ep {
    cursor:help;
    color:mediumpurple;
}

.type-ep {
    cursor:help;
    color:mediumpurple;
}

.type-ap {
    cursor:help;
    color:var(--type-ap);
}

.type-ni {
    cursor:help;
    color:var(--type-ni);
}

.logic {
    color:purple;
    font-weight:bold;    
}

h3 {
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border);
}

h2 {
    margin-top:40px;    
}

.dotted {
    border-bottom: 1px dotted gray;
}

dt {
    margin-top:5px;
}

.description {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    background-color: var(--bg-description);
    margin-top:5px;
    padding-bottom:5px;
}

.description dl {
    background-color: var(--bg-description);
}

.description ul {
    padding-left: 12px;
    margin-top: 0px;
}

.backlink {
    font-size:10pt;
    text-align:right;
    float:right;
    color:black;
    padding: 2px;
    border: 1px dotted navy;
    background-color: var(--bg-backlink);
    color: var(--text-backlink);
}

.imageblock {
	text-align: center;
}

.imageblock img {
	border:1px solid gray;
}

.endnote {
	margin-top: 40px;
	border-top: 1px solid gray;
	padding-top: 10px;
	text-align: center;
	color:gray;
	font-size:70%;
}

.literal {
    color:var(--literal);
    font-style:italic;
}

pre.example {
    white-space: pre-wrap; /* Wrap long lines (for pre) */
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    overflow-x: auto;
    /*padding-left: 6em;        /* Indent all lines */
    /*text-indent: -6em;        /* Pull back first line */
}

pre.example::before,
div.example::before {
    content: "Example";
    display: block;
    width: 150px;
    background: var(--bg-status-box);
    color: #fff;
    font-family: initial;
    padding: 3px;
    font-weight: bold;
    margin: -1em 0 1em -1em;
    z-index: 2;
}

pre.example-continued::before,
div.example-continued::before {
    content: "Example - continued";
    width: 200px;
}

div.example {
    background-color: var(--owl-bg);
    border:1px dashed #2F6FAB;
    color:var(--text-color);
    line-height:1.1em;
    padding:1em;
    margin-left: 2em;
    margin-top: 1em;

    display: inline-block;
    font-family: monospace;
    unicode-bidi: isolate;
    white-space: pre;
    margin-block: 1em 1em;
    /* margin-inline: 0px; */

    /* Remove width constraints so it fits content */
    /* width: 80%; */
    max-width: 1000px;
    box-sizing: border-box;
    text-align: left;
    overflow-x: auto;
    white-space: pre-wrap; /* Wrap long lines (for pre) */
    word-break: break-word;
    overflow-wrap: break-word;
}

div.example img {
  margin: 0 ;
  display: block;
  width: 100%;
  height: auto;
  margin-top: -2em;
  margin-bottom: -2em;
}
